/*  Header  */

.header {
  position: relative;
  height: 350px;
  background: url(../images/header-bg.png) no-repeat;
  background-size: cover;
}

.header .title {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.main-nav {
  position: absolute;
  right: 0;
}

.main-nav li {
  float: left;
}

.main-nav a {
  display: block;
  padding: 15px 20px;
}

.main-nav a:hover {
  color: #654ba5;
  text-decoration: underline;
}

.sub-menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

.sub-menu li {
  float: left;
  position: relative;
  border: 1px solid #272727;
  border-radius: 20px;
}

.sub-menu a {
  display: block;
  width: 80px;
  height: 40px;
}

.sub-menu .ico::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-align: center;
}

.github::before {
  content: "\f09b";
}

.instagram::before {
  content: "\f16d";
}

.twitter::before {
  content: "\f099";
}

.youtube::before {
  content: "\f167";
}

/*  Banner Section   */
.banner a {
  display: block;
}

.banner img {
  width: 100%;
}

/* Main section  */
/* Main Slide - Main  */
.main-slide {
  position: relative;
  background-color: #f0f3f8;
}

.slide-images {
  position: relative;
  width: 1000px;
  height: 150px;
  margin: 0 auto;
  background-color: #ebebeb;
  overflow: hidden;
}

.slide-images ul {
  width: 300%;
  overflow: hidden;
}

.slide-images li {
  display: none;
  float: left;
}

.slide-images li.show {
  display: block;
}

.slide-btns button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  height: 43px;
  background: url(../images/icons.png) no-repeat;
}

.slide-btns .prev {
  left: 10%;
  background-position: -150px 0;
}

.slide-btns .next {
  right: 10%;
  background-position: -150px -43px;
}
